.box1 {
    background-color: #9B9EB8;
    height: 110px;
}

.box2 {
    background: #2C2740;
    background-image: url('src/assets/fundo_estrelado.png') no-repeat;
    height: 60px;
}

.redes {
    font-size: 60px !important;
    color: #000;
}

.textos {
    color: #000;
    font-weight: bold;
}
