.imagem2 {
    background-image: url('src/assets/cadastro.png');
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2 {
    font-weight: bold !important;
    color: #F8F8FB !important;
}

.btnCancelar {
    margin-right: 20px !important;
}

.fundo{
    background: linear-gradient(#745D8B, #595AA8);
}

.cor{
    background-color: #C2C1DD;
    border-radius: 3%;
}